body {
	background-color: tan;
	margin: 0px;
	border: 0px;

}
.box {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #009933;
	width: 204px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	padding: 21px;
}
.display {
	margin-bottom: 1%;
}
.display input {
	width: 96%;
	color: black;
	text-align: right;
	font-size: 27px;
}
.keys {
	margin: 9% -1% 0;
}
.keys [type="button"] {
	width: 21%;
	height: 23%;
	margin: 1%;
}