a {
	text-decoration: none;
}
body {
	background: url(palm.png) no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color: #e6ffe6;
	margin: 0px;
	border: 0px;
}
.box {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #009933;
	width: 204px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	padding: 21px;
}
.display {
	margin-bottom: 1%;
	background-color: #6a6a48;
}
.display input {
	width: 96%;
	color: black;
	text-align: right;
	font-size: 27px;
	background-color: #ffffb3;

}
.keys {
	margin: 9% -1% 0;
}
.keys a {
	color: black;
	display: inline-block;
	width: 36px;
	margin: 2%;
	font-size: 36px;
	cursor: pointer;
	border-radius: 8px;
	background-color: #ffffb3;
	transition: all 0.2s linear 0s; 
}
.keys a:hover {
	background-color: white;
}
.keys a:active {
	background-color: #ffb3d9;
}
#e {
	display: block;
    width: 88%;
    margin: 2% 6% 0 6%;
}